// Project name: TAG (Track and Give)
// Description: This website will track donations and related information 
// to allow nonprofits to better streamline their process of reallocating
// donations to other distribution centers, who in turn give these 
// donations to the homeless or those who are unable to afford them.
// Filename: dashboard.scss
// Description: This file will add style for dashboard
// Last modified on: 4/20/22

// Styles related to dashboard controller are here
// Automatically included in dashboard.css.
// Source SASS (SCSS): https://sass-lang.com/
body {
    background-color: rgb(243, 254, 243) !important;        // background of each page
    padding-top: 1rem;
}

.mainInfo { 
    text-align: center; //align main title on home page
}

h2{
    margin: auto;
    width: 80%;
    padding: 0.5rem;    
}

h3 {
    font-size: 2em;
    font-weight: bold;
}
  
a {
    color: #fff;
}
  
.dash-box {
    position: relative;
    color: #fff;
    padding-top:10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    margin: 10% 0;
    font-size: 1.5rem;        // font size for buttons on landing page after logging in
}

// controls styles for buttons on home page
.dash-box .dash-box-footer {
    position: absolute;
    left: 50%;  //50% from the left of the page
    right: 50%; //50% from the right of the page
    bottom: 0;
    text-align: center;
    text-decoration: none;
    background: rgb(12, 123, 220);
    color: #fff;
    width: 100%;

    //padding of buttons on home page
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

// controls change in buttons on home page when hovering
.dash-box:hover .dash-box-footer:hover {
    background: rgb(2, 51, 93);
    color: #bff4ff !important; 
    padding: 1.15rem;    //padding upon hover over buttons
}
  
.outline {
    color: white;
    font-size: 3.5em;
}