// Project name: TAG (Track and Give)
// Description: This website will track donations and related information 
// to allow nonprofits to better streamline their process of reallocating
// donations to other distribution centers, who in turn give these 
// donations to the homeless or those who are unable to afford them.
// Filename: dashboard.scss
// Description: This file will add style for dashboard
// Last modified on: 4/20/22

// Styles related to dashboard controller are here
// Automatically included in dashboard.css.
// Source SASS (SCSS): https://sass-lang.com/
body {
    // background of each page
    background-color: rgb(243, 254, 243) !important;
}
  
h2{
    margin: auto;
    width: 80%;
    // border: 3px solid green;     //testing position of text
    padding: 10px;    
}

h3 {
    font-size: 2em;
    font-weight: bold;
}
  
a {
    color: #fff;
}
  
// .container {
//     width:100% !important;
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }
  
.dash-box {
    position: relative;
    color: #fff;
    padding-top:10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    margin: 10% 0;
    font-size: 1.5rem;        // font size for buttons on landing page after logging in
}
  
// Set values to zero so it doesn't default to auto
// .dash-box h3 {
//     margin-top: 0;
//     margin-left: 0;
//     margin-right: 0;
//     margin-bottom: 4%;
//     white-space: nowrap;
//     padding: 0;
//     font-weight: 750 !important;
// }

// controls styles for buttons on home page
.dash-box .dash-box-footer {
    position: absolute;
    left: 50%;  //50% from the left of the page
    right: 50%; //50% from the right of the page
    bottom: 0;
    text-align: center;
    text-decoration: none;
    background: rgb(12, 123, 220);
    color: #fff;
    width: 100%;

    //padding of buttons on home page
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

// controls change in buttons on home page when hovering
.dash-box:hover .dash-box-footer:hover {
    background: rgb(2, 51, 93);
    color: #bff4ff !important; 
    padding: 1.5rem;
}
  
// .mt-10 {
//     margin-top: 10% !important;
// }
  
.outline {
    color: white;
    font-size: 3.5em;
}