<%# Project name: Assignment 2: TAG %>
<%# Description: This website will track donations and related information  %>
<%# to allow nonprofits to better streamline their process of reallocating %>
<%# donations to other distribution centers, who in turn give these  %>
<%# donations to the homeless or those who are unable to afford them. %>
<%# Filename: email_changed.html.erb %>
<%# Description: This file will include %>
<%# Last modified on: 3/23/22 %>

<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>
