<%# Project name: Assignment 2: TAG %>
<%# Description: This website will track donations and related information  %>
<%# to allow nonprofits to better streamline their process of reallocating %>
<%# donations to other distribution centers, who in turn give these  %>
<%# donations to the homeless or those who are unable to afford them. %>
<%# Filename: search_data.html.erb %>
<%# Description: This file will include functions for the search page %>
<%# Last modified on: 3/24/22 %>

<body>
  <div class="row">
    <div class="col text-center">
      <h2 style="padding-top: 1.5rem"> Search Cases </h2>
      <br/>

      <div class="col-xs-4" class="input-group rounded">
        <input type="search" class="col-xs-4" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="col-xs-4" class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>

      <br/>
    
      <%# Checkboxes %>
      <div class="d-flex justify-content-left" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckChecked"> Clothing </label>
      </div>

      <div class="d-flex justify-content-left" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
        <label class="form-check-label" for="flexCheckChecked"> Books </label>
      </div>

      <div class="d-flex justify-content-left" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckChecked"> Food </label>
      </div>

      <div class="d-flex justify-content-left" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
        <label class="form-check-label" for="flexCheckChecked"> Toiletries </label>
      </div>

      <div class="d-flex justify-content-left" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
        <label class="form-check-label" for="flexCheckChecked"> Baby Items </label>
      </div>

      <div class="d-flex justify-content-left" class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" disabled>
        <label class="form-check-label" for="flexCheckChecked"> Pet Items </label>
      </div>

      <br/>
      <hr>
      <br/>
      <h2 class="col text-left" > Results </h2>
      <br/>        

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Result 1</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="btn btn-primary">View entry</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Result 2</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="btn btn-primary">View entry</a>
            </div>
          </div>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Result 3</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="btn btn-primary">View entry</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Result 4</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="btn btn-primary">View entry</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</body>